.order-card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.order-card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.order-details p {
    margin-top: 10px;
    padding: 0;
}

.product {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.product img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.product-info p {
    margin: 0;
    padding: 0;
}

.payment-status {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.payment-status label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #333;
}

.save-changes-btn {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Matching color palette of store management web app */
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.save-changes-btn:hover {
    background-color: #0056b3;
}

.save-changes-btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.delete-btn {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: #c82333;
}

.delete-btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}