/* ProductInformation.css */
.product-information-container{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.product-information {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
    width: 70vw;
}

.product-information input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-image-upload {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


ul {
  list-style-type: none;
  padding-left: 0;  
}

li {
  display: flex;
  align-items: center;  
}

.category-add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .remove-category-container{
    margin-bottom: 10px;
  }

  .remove-category-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;  /* Makes it a circle */
    padding: 5px; 
    margin-right: 10px;  /* Space between the button and category name */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 8px;  /* Adjusted for a smaller size */
    display: inline-block;
    vertical-align: middle;
}
  
.remove-category-button:hover {
    background-color: darkred;  /* Darker shade for hover */
}

.remove-category-button:focus {
    outline: none;  /* Removes the default focus outline */
}

  
  .category-add-title {
    margin-right: 20px;
    font-weight: 600;
    font-size: 1.1em;
  }
  
  .category-add-select {
    flex: 1;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .category-add-button {
    padding: 7px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category-add-button:hover {
    background-color: #0056b3;
  }
  
